Version 1.0

[This]
Resolution = 1024
Left = 1
Top = 1
Right = 1024
Bottom = 923
DaytimeImage = bmp\panel.bmp
NighttimeImage = bmp\panel_n.bmp
TransparentColor = #0000FF
Center = 480, 475
Origin = 480, 400

[Needle]				; Speed Indicator
Subject = kmph
Location = 593, 742
DaytimeImage = bmp\speed.bmp
NighttimeImage = bmp\speed_n.bmp
TransparentColor = #0000FF
Origin = 16, 225
Layer = 14
Radius = 64
InitialAngle = -120
LastAngle = 120
Minimum = 0
Maximum = 140
NaturalFreq = 21.3
DampingRatio = 0.6

[PilotLamp]			; Start
Subject = Ats33
Location = 729,169
DaytimeImage = bmp\start_up.bmp
NighttimeImage = bmp\start_up_n.bmp
TransparentColor = #0000FF
Layer = 10

[PilotLamp]
Subject = Ats33
Location = 729,485
DaytimeImage = bmp\start_down.bmp
NighttimeImage = bmp\start_down_n.bmp
TransparentColor = #0000FF
Layer = 10

[PilotLamp]
Subject = Ats31
Location = 775, 219
DaytimeImage = bmp\ato.bmp
NighttimeImage = bmp\ato_n.bmp
TransparentColor = #0000FF
Layer = 15


[PilotLamp]
Subject = Ats32
Location = 805, 477
DaytimeImage = bmp\dvs.bmp
NighttimeImage = bmp\dvs_n.bmp
TransparentColor = #0000FF
Layer = 15



[DigitalGauge]			; Permitted Speed Indicator
Subject = Ats11
Location = 593, 742
Color = #050503
Layer = 2
Radius = 80
InitialAngle = 121
LastAngle = -121
Minimum = 0
Maximum = 140
Step = 2

[Pilotlamp]
Subject = true
Location = 465, 614
DaytimeImage = bmp\tbl_cover.bmp
NighttimeImage = bmp\tbl_cover_n.bmp
TransparentColor = #0000FF
Layer = 8

[DigitalNumber]				; Target Distance
Subject = Ats15
Location = 497, 675
DaytimeImage = bmp\tbl_targetdis.bmp
NighttimeImage = bmp\tbl_targetdis_n.bmp
TransparentColor = #0000FF
Layer = 15
Interval = 67

[DigitalNumber]
Subject = Ats16
Location = 497, 740
DaytimeImage = bmp\tbl_targetdis.bmp
NighttimeImage = bmp\tbl_targetdis_n.bmp
TransparentColor = #0000FF
Layer = 15
Interval = 67

[DigitalNumber]				; Target Speed
Subject = Ats12
Location = 575, 788
DaytimeImage = bmp\tbl_targetspd.bmp
NighttimeImage = bmp\tbl_targetspd_n.bmp
TransparentColor = #0000FF
Layer = 15
Interval = 19

[DigitalNumber]
Subject = Ats13
Location = 587, 788
DaytimeImage = bmp\tbl_targetspd.bmp
NighttimeImage = bmp\tbl_targetspd_n.bmp
TransparentColor = #0000FF
Layer = 15
Interval = 19

[DigitalNumber]
Subject = Ats14
Location = 599, 788
DaytimeImage = bmp\tbl_targetspd.bmp
NighttimeImage = bmp\tbl_targetspd_n.bmp
TransparentColor = #0000FF
Layer = 15
Interval = 19

[DigitalNumber]				; Train Mode
Subject = Ats21
Location = 506, 849
DaytimeImage = bmp\tbl_trainmode_left.bmp
NighttimeImage = bmp\tbl_trainmode_left_n.bmp
TransparentColor = #0000FF
Layer = 15
Interval = 41

[DigitalNumber]
Subject = Ats22
Location = 611, 849
DaytimeImage = bmp\tbl_trainmode_right.bmp
NighttimeImage = bmp\tbl_trainmode_right_n.bmp
TransparentColor = #0000FF
Layer = 15
Interval = 41

[Pilotlamp]					; 隔離
Subject = Ats23
Location = 681, 674
DaytimeImage = bmp\tbl_lamp_01.bmp
NighttimeImage = bmp\tbl_lamp_01.bmp
TransparentColor = #0000FF
Layer = 15

[Pilotlamp]					; 終止
Subject = Ats24
Location = 714, 674
DaytimeImage = bmp\tbl_lamp_02.bmp
NighttimeImage = bmp\tbl_lamp_02.bmp
TransparentColor = #0000FF
Layer = 15

[Pilotlamp]					; 掣動
Subject = Ats25
Location = 681, 703
DaytimeImage = bmp\tbl_lamp_03.bmp
NighttimeImage = bmp\tbl_lamp_03.bmp
TransparentColor = #0000FF
Layer = 15

[Pilotlamp]					; 超越
Subject = Ats26
Location = 714, 703
DaytimeImage = bmp\tbl_lamp_04.bmp
NighttimeImage = bmp\tbl_lamp_04.bmp
TransparentColor = #0000FF
Layer = 15

[Pilotlamp]					; 機車
Subject = Ats27
Location = 681, 727
DaytimeImage = bmp\tbl_lamp_05.bmp
NighttimeImage = bmp\tbl_lamp_05.bmp
TransparentColor = #0000FF
Layer = 15

[Pilotlamp]					; 可出發
Subject = Ats28
Location = 	714, 727
DaytimeImage = bmp\tbl_lamp_06.bmp
NighttimeImage = bmp\tbl_lamp_06.bmp
TransparentColor = #0000FF
Layer = 15

						; EBPB
[Pilotlamp]
Subject = Ats55
Location = 729, 387
DaytimeImage = bmp\ebpb.bmp
NighttimeImage = bmp\ebpb_n.bmp
TransparentColor = #0000FF
Layer = 10



[PilotLamp]			; Approaching
Subject = Ats45
Location = 774, 110
DaytimeImage = bmp\approaching.bmp
NighttimeImage = bmp\approaching_n.bmp
TransparentColor = #0000FF
Layer = 15

[PilotLamp]			; AUX
Subject = Ats61
Location = 233, 636
DaytimeImage = bmp\fault_aux.bmp
NighttimeImage = bmp\fault_aux_n.bmp
TransparentColor = #0000FF
Layer = 15

[PilotLamp]			; VCB
Subject = Ats62
Location = 279, 636
DaytimeImage = bmp\fault_vcb.bmp
NighttimeImage = bmp\fault_vcb_n.bmp
TransparentColor = #0000FF
Layer = 15

[PilotLamp]			; EP Brake
Subject = true
Location = 753, 636
DaytimeImage = bmp\epbrake.bmp
NighttimeImage = bmp\epbrake_n.bmp
TransparentColor = #0000FF
Layer = 15

[PilotLamp]			; Electric
Subject = Ats64
Location = 799, 636
DaytimeImage = bmp\electric.bmp
NighttimeImage = bmp\electric_n.bmp
TransparentColor = #0000FF
Layer = 15

[PilotLamp]			; Cab occupied
Subject = Ats65
Location = 844, 636
DaytimeImage = bmp\caboccupied.bmp
NighttimeImage = bmp\caboccupied_n.bmp
TransparentColor = #0000FF
Layer = 15

[PilotLamp]
Subject = true
Location = 579, 728
DaytimeImage = bmp\speedcover.bmp
NighttimeImage = bmp\speedcover_n.bmp
TransparentColor = #0000FF
Layer = 15

[PilotLamp]			; Door Open Left
Subject = Ats41
Location = 0, 497
DaytimeImage = bmp\dooropen_L.bmp
NighttimeImage = bmp\dooropen_L_n.bmp
TransparentColor = #0000FF
Layer = 15

[PilotLamp]			; Door Close Left
Subject = doorl0
Location = 0, 611
DaytimeImage = bmp\doorclose_L.bmp
NighttimeImage = bmp\doorclose_L_n.bmp
TransparentColor = #0000FF
Layer = 15

[PilotLamp]			; Door Open Right
Subject = Ats42
Location = 960, 587
DaytimeImage = bmp\dooropen_R.bmp
NighttimeImage = bmp\dooropen_R_n.bmp
TransparentColor = #0000FF
Layer = 15

[PilotLamp]			; Door Close Right
Subject = doorr0
Location = 960, 699
DaytimeImage = bmp\doorclose_R.bmp
NighttimeImage = bmp\doorclose_R_n.bmp
TransparentColor = #0000FF
Layer = 15

[PilotLamp]			; ATO switch
Subject = Ats67
Location = 730, 261
DaytimeImage = bmp\atoswitch.bmp
NighttimeImage = bmp\atoswitch_n.bmp
TransparentColor = #0000FF
Layer = 15


[Needle]				; BC1
Subject = bc
Location = 388, 687
DaytimeImage = bmp\pressure.bmp
NighttimeImage = bmp\pressure_n.bmp
TransparentColor = #0000FF
Origin = 16, 109
Layer = 15
Radius = 30
InitialAngle = -180
LastAngle = 0
Minimum = 0
Maximum = 700
NaturalFreq = 21.3
DampingRatio = 0.6

[Needle]				; BC2
Subject = bc
Location = 403, 687
DaytimeImage = bmp\pressure.bmp
NighttimeImage = bmp\pressure_n.bmp
TransparentColor = #0000FF
Origin = 16, 109
Layer = 15
Radius = 30
InitialAngle = 180
LastAngle = 0
Minimum = 0
Maximum = 700
NaturalFreq = 21.3
DampingRatio = 0.6

[Needle]				; BP
Subject = bp
Location = 390, 836
DaytimeImage = bmp\pressure.bmp
NighttimeImage = bmp\pressure_n.bmp
TransparentColor = #0000FF
Origin = 16, 109
Layer = 15
Radius = 30
InitialAngle = -180
LastAngle = 0
Minimum = 0
Maximum = 700
NaturalFreq = 21.3
DampingRatio = 0.6

[Needle]				; MR
Subject = mr
Location = 405, 836
DaytimeImage = bmp\pressure.bmp
NighttimeImage = bmp\pressure_n.bmp
TransparentColor = #0000FF
Origin = 16, 109
Layer = 15
Radius = 30
InitialAngle = 180
LastAngle = 0
Minimum = 0
Maximum = 1100
NaturalFreq = 21.3
DampingRatio = 0.6
; TEST: large handle indicators, made touchable by panel2 extended mode (android/testcontent/touch)
[DigitalNumber]
Subject = power
Location = 800, 560
DaytimeImage = touch_power.bmp
Interval = 200
Layer = 20

[DigitalNumber]
Subject = brake
Location = 24, 560
DaytimeImage = touch_brake.bmp
Interval = 200
Layer = 20
